{% extends 'base.jinja2' %}

{% block body %}
	<form method="post" action="">
		<input type="text" name="username" placeholder="username">
		<br>
		<input type="password" name="password" placeholder="password">
		<br>
		<input type="submit">
	</form>
{% endblock body %}
