{% extends 'base.jinja2' %}

{% block body %}
	{% for post in posts %}
		<h2><a href="/post/{{ post['id'] }}">{{ post['title'] }}</a></h2>
		by {{ post['username'] }}
		<blockquote>{{ post['body'] }}</blockquote>
	{% endfor %}

	<p>
		{% if logged_in %}
			<a href="/admin">admin</a>
		{% else %}
			<a href="/login">login</a>
		{% endif %}
	</p>
{% endblock body %}
